* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 30px;
  }

  .title {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .kanban {
    display: flex;
    justify-content: center;
    min-height: 300px;
    gap: 10px;
    padding: 10px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #69b064;
    min-width: 200px;
    border-radius: 30px;
  }
  
  .item {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  .dragging {
    opacity: 0.5;
  }